{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-lg-5 col-md-8 col-sm-10">
				<div class="card shadow-lg">
					<div class="card-header bg-primary text-white">
						<h3 class="card-title">Création d'un Utilisateur</h3>
					</div>
					<div class="card-body">
						{{ form_start(registrationForm) }}
						{{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom', 'required': 'required'}}) }}
						{{ form_row(registrationForm.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom', 'required': 'required'}}) }}
						{{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email', 'required': 'required'}}) }}
						{{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe', 'required': 'required'}, 'label': 'Mot de passe'}) }}
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div class="row text-center">
							<button type="submit" class="btn btn-primary btn-block mt-2">S'inscrire</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
